name: Build on macOS

on: [push]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Setup Xcode version
        uses: maxim-lobanov/setup-xcode@v1.2.3
        with:
          xcode-version: '12.5'
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Build
        run: swift build
      - name: Tests
        run: swift test --enable-code-coverage
      - name: Codecov
        run: |
          xcrun llvm-cov export -format="lcov" .build/debug/PeppermintPackageTests.xctest/Contents/MacOS/PeppermintPackageTests -instr-profile .build/debug/codecov/default.profdata > .build/PeppermintPackageTests.lcov
          bash <(curl https://codecov.io/bash)
